.start__hello {
  $file: "/assets/images/people-signup";
  @include background-image-retina($file, "png", 410px, 396px);
  background-position: right center;
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  padding-right: 50%;
  width: 100%;
  @include media($lg-screen) {
    background-position: center 155px;
    margin-bottom: 350px;
    margin-top: -155px;
    padding: 0;
    padding-top: 395px;
  }
  @include media($md-screen) {
    background-position: center -236px;
    margin-bottom: 180px;
    margin-top: 0;
    padding-top: 170px;
  }
  @include media($xs-screen) {
    background-position: -123px -246px;
    margin-bottom: 370px;
  }
}

.hello__column {
  width: 30%;
  &:first-of-type {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    padding-bottom: 2em;
    width: 100%;
  }
  &:last-of-type {
    padding-left: 5%;
    width: 70%;
    @include media($xs-screen) {
      padding: 0;
      width: 100%;
    }
  }
  h2 {
    color: $text--dark;
    font-size: $header-font-size-large;
    font-weight: 500;
    margin: 30px 0;
  }
  p {
    color: $text--lighter;
    font-size: $body-font-size-normal;
    font-weight: 300;
    line-height: 24px;
    margin: 10px 0;
  }
  @include media($xs-screen) {
    margin: 0 auto;
    width: 100%;
  }
}

.image-drop {
  margin: 0 auto;
}

.hello__column {
  .input-group input {
    width: 50%;
    &:first-child {
      border-radius: 4px 0 0 4px;
      border-right: none;
      @include media($xs-screen) {
        border-radius: 4px;
        border-right: 1px solid #aaa;
      }
    }
    @include media($xs-screen) {
      margin-bottom: 5px;
      width: 100%;
    }
  }
}

.photo-help-text {
  text-align: center;
}
